{% extends 'base.html' %}
{% block content %}

{% if request.user.is_superuser %}

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Добавяне на собственик на превозно средство</h4>
        <hr>
        <form class="forms-sample" method="POST" action="{% url 'add_vehicles_owner' %}">
          {% include 'includes/messages.html' %}
          {% csrf_token %}

          <div class="form-group">
            <label>Име (Name)</label>
            <input type="text" name="name" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Презиме (Fathers Name)</label>
            <input type="text" name="fathers_name" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Фамилия (Surname)</label>
            <input type="text" name="surname" class="form-control" required>
          </div>

          <div class="form-group">
            <label>ЕГН (Personal NO)</label>
            <input type="text" name="personal_no" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Гражданство (Nationality)</label>
            <input type="text" name="nationality" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Дата на раждане (Date of birth)</label>
            <input type="date" name="date_of_birth" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Валидност (Date of expiry)</label>
            <input type="date" name="date_of_expiry" class="form-control" required>
          </div>

          <div class="form-group">
            <label>N на документа (Document number)</label>
            <input type="text" name="document_number" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Място на раждане (Place of birth)</label>
            <input type="text" name="place_of_birth" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Постоянен адрес (Residance)</label>
            <input type="text" name="residance" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Ръст (Height)</label>
            <input type="number" name="height" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Цвят на очите (Color of eyes)</label>
            <input type="text" name="color_of_eyes" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Издаден от (Authority)</label>
            <input type="text" name="authority" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Дата на издаване (Date of issue)</label>
            <input type="date" name="date_of_issue" class="form-control" required>
          </div>

          <button type="submit" class="btn btn-primary">Добавяне</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="alert alert-danger">
  <h4>Достъп отказан!</h4>
  <p>Тази страница е достъпна само за администратори.</p>
</div>
{% endif %}
{% endblock %}
