{% extends 'base.html' %}
{% block content %}
{% if request.user.is_superuser %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Добавяне на тип превозно средство</h4>
        <hr>
        <form class="forms-sample" method="POST">
          {% include 'includes/messages.html' %}
          {% csrf_token %}
          <div class="form-group">
            <label>Тип превозно средство</label>
            <input type="text" placeholder="Въведете тип" name="vehicle_type_name" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Добавяне</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
